<ion-header>
  <ion-toolbar>
    <ion-title>      مرحبا ! Welcome
    </ion-title >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="covercontent">

<ion-text class="part1">

  <p>مرحبا بكم في منار مول</p>
  <p>Welcome to Manar Mall</p>
  
</ion-text>

<ion-item class="imgpart">

  <img src="../../assets/logo.png" class = "peers_msg_img" (click)="gotoHomeA()" >





</ion-item >
<ion-text class="designtext">

  <p>إختر اللغة</p>
  <p>Choose Language </p>
</ion-text>
</div>
<div class="buttonPart">
  <ion-button color ="danger"  (click)="gotoHome()" >English</ion-button>

  <ion-button class="btn1" color="danger" (click)="gotoHomeA()" >العربية</ion-button>

</div>








</ion-content>