<ion-header>
  <ion-toolbar>
    <ion-title>
      مرحبا ! Welcome

    </ion-title>
  

  </ion-toolbar>
</ion-header>

<ion-content ba>
<div class="partwrap">


<ion-text class="iontext01">

  <h2 id="title1">مرحبا بكم في منار مول </h2>
  </ion-text>
  <ion-text class="iontext1">

    <h2 id="title2">Welcome To Manar Mall</h2>
    </ion-text>


<ion-item class="imgpart">

  <img src="../../assets/logo.png" class = "peers_msg_img">





</ion-item >







<ion-text class="iontext2">

  <p id="arabic1">قم باختيار اللغة</p>
<p id="english">Get Started By Choosing Languages</p>




</ion-text>


<div class="buttonpart">
  <ion-button  class="btn btn2" (click)="gotoHome()" shape="round" fill="outline">English</ion-button>

  <ion-button  class="btn btn1"    (click)="gotoHomeA()"    shape="round" fill="outline" >العربية</ion-button>

</div>

</div>
</ion-content>
