ion-content
{
    --background: var(--ion-color-success);


    height: 100vh;
}
ion-title img
{
height: 40px;
display: flex;
justify-content: space-between;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
ion-icon 
{
    width:300px;
    height: 150px;
    color:var(--ion-color-success)
}
