<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

 <img src="../../assets/logo.png" class = "peers_msg_img"   />



    </ion-title>
  </ion-toolbar>
</ion-header>


 
<ion-content>
  <ion-button  color ="danger"  (click)="goHome()">Go  To the previous Page</ion-button>


<div class="flex-center">
  
  <form [formGroup]="form">
  <ion-card>
    <ion-card-header>
      <ion-icon name="person-circle-outline"></ion-icon>
      
    </ion-card-header>
  
    <ion-card-content>


      <ion-item >

        <ion-label> Name: </ion-label>
        <ion-input   [(ngModel)] ="userdata.name"  placeholder=" Name" type="text" formControlName="name"> </ion-input>
    
      </ion-item>
      <ion-label color="danger" *ngIf="form.get('name').touched && !form.get('name').valid" >Name missing</ion-label>

      <ion-item>
      
        <ion-label > Age: </ion-label>
        <ion-input [(ngModel)] ="userdata.age" placeholder="Age" type="number" formControlName="age"> </ion-input>
    
      </ion-item>
      <ion-label color="danger" *ngIf="form.get('age').touched && !form.get('age').valid" >Name missing</ion-label>

      <ion-item >
    
      
        <ion-label > Phone:</ion-label>
        <ion-input [(ngModel)] ="userdata.phone" placeholder="Phone " type="tel" formControlName="phone"></ion-input>
    
      </ion-item>
      <ion-label color="danger" *ngIf="form.get('phone').touched && !form.get('phone').valid" >Phone Number Missing </ion-label>

    
      <ion-item >
    
          <ion-label> Gender:</ion-label>
          <ion-select interface="popover" mode="ios" [(ngModel)] ="userdata.gender" formControlName="gender">
            <ion-select-option  value="female">
           Female
            </ion-select-option>
            <ion-select-option  value="male">
              Male
               </ion-select-option>
          </ion-select>
      
        
      
        </ion-item>
        <ion-label color="danger" *ngIf="form.get('gender').touched && !form.get('gender').valid" >Please Select Gender</ion-label>



   <!--<ion-button  color="success" expand="block"   (click)="submit()"  shape="round"  [disabled]="!form.get('name').valid" >Submit</ion-button>-->


   <ion-button class="submitbutton" color="success" expand="block"   (click)="submit()"  shape="round"    [disabled]="!form1.get('name1').valid ||  !form1.get('age1').valid ||!form1.get('phone1').valid ||!form1.get('gender1').valid"  >Submit</ion-button>



  </ion-card-content>


  </ion-card>
</form>

 

  </div>

</ion-content>
