@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;

}
ion-content
{
    --background: var(--ion-color-success);


    height: 100vh;
}
ion-title img
{
height: 40px;
display: flex;
justify-content: space-between;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;

}
ion-icon 
{
    width:350px;
    height: 150px;
    color:var(--ion-color-success);
    text-align: center;
}
ion-label
{
width: 80px;
margin-right: 20px;
}
.submitbutton
{
    margin-bottom: 15px;
    margin-top: 15px;
}